.shadowbox {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
p {
  font-family:"Courier New";
  text-indent:20px;
  margin-left: 10px;
}
li {
  font-family:"Courier New";
  text-indent: 20px;
  margi-left: 10 px;"
}
#my-portrait {
    width: 250px;
}
