h1 {
  color: black;
  font-family: fantasy;
  font-size: 200%;
}

div{
  width: 300px;
  border: 5px solid white;
  padding: 50px;
  margin: 20px;
}

.special {
  width: 300px;
  border: 5px dotted black;
  padding 50px;
  margin: 20px;
}
